html, body {
    min-height: 100% !important;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.container-height{
    height: 90%;
}

.background-height{
    height: 100%;
}

.background-col-left{
    background-color: #4D5E72;
}

.card-col-left{
    background-color: #355C7D;
}

.profile-card-container{
    height: 100%;
    position: absolute;
}

.profile-card{
    width: 25rem;
}

.profile-picture{
    border: 2px;
    border-color: black;
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    object-fit: cover;
}

.profile-summary-card{
    background-color: transparent !important;
    width: 30rem;
}

.role{
    margin-top: 40%;
}

.card-name{
    font-size: 1.8rem;
    font-weight: 600;
}

.card-title{
    font-size: medium;
    font-weight: 700;
    font-family: 'Sen', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}

p{
    font-family: 'Sen', sans-serif;
    margin: 0px;
    padding: 0px;
}

.btn-danger, .btn-danger:active, .btn-danger:visited {
    background-color: #F67280 !important;
    border-color: #F67280;
}

.btn-danger:hover{
    background-color: #D65D6A !important;
    border-color: #D65D6A;
}

hr {
    border: 0;
    border-top: 5px solid #F67280;
    width: 5rem;
 }