html, body, .fullheight {
    min-height: 100% !important;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.background-height{
    height: 90%;
    position: relative;
}

.background-col-left{
    background-color: #1D3557;
}

.card-col-left{
    background-color: #457B9D;
}

.profile-card-container{
    height: 100%;
    position: absolute;
}

.profile-card{
    width: 45rem;
}

.profile-picture{
    border: 2px;
    border-color: black;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    object-fit: cover;
}

.profile-summary-card{
    background-color: transparent !important;
}

.role{
    margin-top: 40%;
}

.card-name{
    font-size: 1.5rem;
    font-weight: 600;
}

.card-title{
    font-size: medium;
    font-weight: 400;
    font-family: 'Sen', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}

p{
    font-family: 'Sen', sans-serif;
}